/* ROBOTO */
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap");
/* OUTFIT */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500&display=swap");
/*  GOOGLE ICONS*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Sharp");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  color: #2a2b2f;
  background-color: whitesmoke;
}

a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

header nav {
  display: flex;
  gap: 20px;
  padding: 5px;
  font-family: "Outfit";
  font-size: 18px;
}

header nav a#active {
  color: #4e50ff;
}

header nav a {
  transition: 0.3s ease-in all;
}

header nav a:hover {
  transition: 0.2s ease-in all;
  transform: scale(0.9);
}

/* MAIN */
main {
  margin: 0 190px;
}

/* MOST POPULAR */
main .most-popular-header h2 {
  font-weight: normal;
  font-size: 2em;
}

main .most-popular-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

main .most-popular-header h4{
  color: #4e50ff;
}

.most-popular {
  width: 100%;
}

.resumed-list {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* POSTER CARD */
.card {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  transition: 0.5s ease-in-out all;
}

.card * {
}

.card:hover {
  transition: 0.5s ease-in-out all;
  transform: scale(0.95)
}

.card img {
  border-radius: 15px;
}

.card .info {
  padding: 2px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card #title {
  font-size: 22px;
}

.card .rating {
  margin-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 187, 0);
  gap: 2px;
}

.card .rating span {
  font-size: 13px;
}

.card .categories {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px;
}


.card .categories span{
  background-color: lightgray;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 20px;
  color: #47484e;
}